body {
    background-image: linear-gradient(to bottom, black, blue);
    font-family: 'Times New Roman', Times, serif;
}



h1 {
    color: Blue;
}

h2 {
    color: red;
}

div {
    color: red;
}

#paraFunc {
    color: white;
    
}

#headFunc {
    color: rgb(0, 100, 255);
    font-size: 2em;
    text-decoration: underline;
}

#CountdownStatus {
    color: red;
    font-style: oblique;
}